body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    max-width: 100%;
    overflow-x: hidden;
    color: #495057;
    z-index: -20;
}

img {
    max-width: 75%;
    max-height: 75%;
}

/* Style page content */
.content {
    margin-left: 220px; /* Same as the width of the sidenav */
    padding: 25px 30px;
    background-color: #F9FAFB;
    min-height: 100%;
    z-index: -10;
}

/* The sidebar menu */
.sidenav {
    height: 100%; 
    width: 220px; 
    position: fixed; 
    z-index: 10; 
    left: 0;
    top: 0;
    background-size: cover;
    overflow-x: visible;
    box-shadow: 0 0 13px 0 rgba(63, 69, 105, 0.08);
}

/* The navigation menu links */
.sidenav a {
    padding: 11px 8px 11px 8px;
    text-decoration: none;
    font-size: 14px;
    color: #455A64;
    display: block;
    border-left: 3px solid transparent;
    transition: background-color 300ms;
    transition-timing-function: ease-out;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.sidenav a:not(.banner) {
    margin: 10px 25px 10px 0;
}

.sidenav a:hover:not(.banner) {
    background-color: #ECEFF1;
    text-decoration: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #455A64;
}

.sidenav a.active-tab {
    color: royalblue;
    border-left: 3px solid royalblue;
    background: linear-gradient(rgba(65, 105, 225, 0.1), rgba(65, 105, 225, 0.1));
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    pointer-events: none;
}

.sidenav a#title {
    padding-top: 13px;
    height: 66px;
    width: 100%;
    border-radius: 0;
    color: royalblue;
    border-bottom: 1px solid #DFE5E7;
}

.sidenav #user {
    padding: 40px 0;
    font-size: 18px;
    font-weight: 500;
    color: #455A64;
}

.sidenav #user .fa-user-circle {
    font-size: 60px !important;
    padding-bottom: 4px;
    color: #90A4AE;
}

.sidenav #user .dropdown {
    width: fit-content;
    margin: auto;
}

.sidenav #user .dropdown-toggle {
    color: #455A64;
    background-color: transparent;
    border-color: transparent;
    font-weight: 500;
    font-size: 16px;
    padding: 0 0 0 18px;
}

.sidenav #user .dropdown-toggle:hover {
    color: royalblue
}
.sidenav #user .dropdown-toggle:focus {
    box-shadow: none;
}

.sidenav #user .dropdown-menu {
    min-width: 100px;
    padding: 5px 0;
    margin: 0;
}

.sidenav #user .dropdown-menu a {
    padding: 5px;
    margin: 0;
    border-radius: 0;
}

#logo {
    height: 40px;
    min-width: 40px;
    display: table-cell;
    vertical-align: middle;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -13%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.input-group .input-group.filter{
    width: 50%;
}

.custom-file {
    cursor: pointer
}

h1 {
    color: royalblue;
    font-weight: bold;
    font-size: 25px;
}

h4 {
    color: #8298AD;
    margin-bottom: 25px;
}

table{
    width: 100%;
}

/* pagination button styles */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 7px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background: white;
    box-shadow: none;
    border-color: #AEB6BF;
    border-radius: 7px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: white;
    color: initial !important;
    border-color: #AEB6BF;
    border-radius: 7px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
 .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
     color: white !important;
     background: #546E7A;
     border: none;
     border-radius: 7px;
 }

td {
    vertical-align: middle;
    padding-left: 18px !important;
}

table.dataTable {
    border: 1px solid #B0BEC5;
    border-radius: 7px;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    border-bottom: 1px solid #B0BEC5 !important;
    color: #333;
}

table.dataTable tfoot th, 
table.dataTable tfoot td {
    border-top: 1px solid #B0BEC5 !important;
    color: #333;
}

table.dataTable thead th,
table.dataTable thead td {
    border-bottom: 1px solid #B0BEC5;
}

thead input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    text-indent: 0.5em;
}

#transact th {
    padding-left: 15px !important;
    text-align: center;
}

.dataTables_filter {
    visibility: hidden !important;
}

select {
    border-radius: 4px;
}

form {
    margin-bottom: 0;
}

.form-control[readonly] {
    cursor: default;
    background-color: #F4F6F6;
    pointer-events: none;
}

.form-control[readonly] {
    border-color: #CED4DA;
    box-shadow: none;
}

.center {
    text-align: center;
}

.credits {
    font-weight: 500;
    font-size: 15px;
}

.credits h4 {
    margin-bottom: 15px !important;
}

#logout {
    position: absolute;
    bottom: 25px;
    left: 20px;
    border-radius: 50px;
}

#home_email {
    color: royalblue;
}

.transact input {
    width: 170px;
}

.header {
    position: fixed;
    top: 0;
    width: calc(100% - 220px);
    margin-left: -30px;
    min-height: 66px;
    background-color: royalblue;
    z-index: 5;
    padding: 9px;
    box-shadow: 0 13px 13px -13px rgba(63, 69, 105, 0.5);
    display: table
}

.header h1 {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    color: white;
}

.numOf {
    display: table-cell;
    vertical-align: middle;
    float: right;
    height: 100%;
    padding: 5px 1.25em 5px 5px;
}

.numOf .card-body {
    display: inline;
}

.numOf .card-body.transact {
    padding: 20px;
}

.numOf h5 {
    vertical-align: middle;
    display: inline;
    color: #ECEFF1;
}

.numOf .btn {
    margin-left: 4px;
}

.card h5 {
    font-size: medium;
    display: inline;
    margin-right: 25px;
    color: #546E7A;
}

.card.dashboard {
    box-shadow: 0 0 13px 0 rgba(63, 69, 105, 0.1);
    border-radius: 7px !important;
    border: 0 !important;
    color: #FAFAFA;
}

.card.dashboard a:hover, .card.dashboard a:visited, .card.dashboard a:link, .card.dashboard a:active {
    text-decoration: none;
    color: inherit;
}

.card.dashboard h5 {
    color: #FAFAFA;
    font-weight: bold;
}

#d1 {
    background-color: dodgerblue;
}

#d2 {
    background-color: #1976D2;
}

#d3 {
    background-color: #1A5276;
}

.btn {
    font-weight: 500;
}

#btn-blue:hover {
    color: #007bff;
}

#btn-green:hover {
    color: #28a745;
}

#btn-teal:hover {
    color: #009688;
}

/******************************** MODAL ***********************************/

@media (min-width: 576px)
{
    .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }
}

.modal-header{
    text-align: left;
}

.modal-body {
    width: calc(100% - 124px);
}

.modal-content {
    border: none !important;
    border-radius: 9px !important;
    box-shadow: 3px 3px 25px #444444;
}

#deletebook .modal-body{
    width: 90%;
}

.book-modal .modal-dialog {
    max-width: 1000px;
    margin: 1.75rem auto;
}

.book-modal .modal-body {
    width: 100%;
    padding: 25px;
}

#addbook.book-modal .modal-body {
    padding-bottom: 0px;
}

#editbook.book-modal .modal-body {
    padding-bottom: 0px;
}


.book-thumbnail {
    vertical-align: top;
    border-radius: 7px;
    min-width: 250px;
    margin-bottom: 20px;
}

.booklist-thumbnail {
    width: 100px;
    padding: 7px;
    border-radius: 10px;
}

#details-link {
    color: #2471A3;
    cursor: pointer;
    font-weight: 500;
}

#details-link:hover {
    text-decoration: underline;
    color: #154360;
}

.input-container-1 {
    display: inline-block;
    margin-left: 25px;
    width: 300px;
    vertical-align: top;
}

#bookDetails .input-container-1 {
    width: 250px;
}

#details-img {
    min-width: 200px;
}

.input-container-2 {
    display: inline-block;
    width: calc(100% - 400px);
    margin-left: 40px
}

#details-title {
    font-size: 30px;
    font-weight: 600;
}

#details-author {
    font-size: 18px;
    color: #688097;
    margin: 10px 0;
}

#details-line-1,
#details-line-3 {
    margin: 10px 0;
}

#details-categories {
    margin: 15px 0;
}

#details-srno {
    display: none;
}

/*============================ Settings ==================================*/

.block {
    background-color: white;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 0 0 13px 0 rgba(63, 69, 105, 0.08);
    transition: height 300ms;
    transition-timing-function: ease-in-out;
    overflow-x: scroll;
    padding: 20px 30px;
    width: 100%;
}

.block-top {
    margin-top: 70px;
}

#test {
    color: rgba(220, 53, 69, 0.1);
}

.accordion {
    margin-top: 15px;
}

.accordion .card {
    border: none;
}

.accordion .card-header {
    border: 1px solid rgba(0, 0, 0, .125)
}

#mycanvas {
    height: calc(100vh - 385px) !important;
    max-height: 500px !important;
    width: 100% !important;
}